body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 21px;
    line-height: 1.2;
    color: $color;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

a {transition: all 0.3s;}

h2.title {
    font-size: 44px;
    font-weight: bold;
    font-family: $font2;
}

h3.title {
    font-size: 32px;
    font-weight: bold;
    font-family: $font2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font2;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.subtitle {margin-top: 5px;}

@media (max-width: 1500px) {
    body {font-size: 17px;}
    h2.title {font-size: 37px;}
}

@media (max-width: 991px) {
    body {font-size: 21px;}
    h2.title {font-size: 44px;}
    .h-991 {display: none !important;}
    .s-991 {display: block !important;}
}

@media (max-width: 700px) {
    body {font-size: 18px;}
    h2.title {font-size: 32px;}
    .h-700 {display: none !important;}
    .s-700 {display: block !important;}
}

#main-wrapper {overflow: hidden;}

.center {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1500px) {
        max-width: 1200px;
    }

    @media (max-width: 1300px) {
        max-width: 950px;
        padding: 0 40px;
    }

    @media (max-width: 700px) {
        padding: 0 20px;
    }
}

.button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 260px;
    min-height: 50px;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #fff;
    background: $blue !important;
    outline: 1px solid $blue;
    border: 2px solid $blue !important;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0 !important;

    &.button-white {
        background: #fff !important;
        border-color: transparent !important;
        outline: 1px solid #fff;
        color: $blue;
    }
    &.button-white:hover {
        background: #fff !important;
    }

    &.button-gray {
        background: #9DAAB3 !important;
    }
    &.button-gray:hover {
        background: #9DAAB3 !important;
    }

    &:hover {
        outline-offset: 10px !important;
        outline-color: transparent !important;
        background: none !important;
        color: $blue !important;
    }

    @media (max-width: 700px) {
        height: 50px !important;
    }
}

.splide .splide__arrow {
    background: none;
    top: 15px;
    right: 0;
    left: inherit;
    transform: none;
    width: 32px;
    height: 18px;
    background: url('/themes/sage/resources/images/arr-slide.svg') no-repeat center;
    opacity: 0.5;
    transition: all 0.3s;
    svg {display: none;}
}

.splide .splide__arrow--prev {
    transform-origin: center;
    transform: rotate(-180deg);
    margin-right: 65px;
}

.content-accordeon {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
} 

.field-input {
    display: block;
    & + .field-input {margin-top: 15px;}

    .label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #fff;
    }

    input {
        display: block;
        width: 100%;
        height: 50px;
        background: #fff;
        padding: 0 25px;
        color: $color;
        outline: none;
    }
    input::placeholder {color: $color;}

    @media (max-width: 991px) {
        input {height: 60px;}
        & + .field-input {margin-top: 20px;}
    }

    @media (max-width: 700px) {
        input {height: 50px;}
    }
}

/* ANIMATION
-------------------------------------- */
.animated {
    opacity: 0;
    transition: opacity 500ms;
}

.animated.show {
    animation: fade-bottom 0.6s ease-in-out both;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated.scale-down {transform: scale(0);}
.animated.scale-down.show {animation: scale-down 0.5s linear forwards;}

@keyframes scale-down {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated.fade-left.show {
    animation: fade-left 0.3s ease-in-out both;
}

@keyframes fade-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animated.scale-up {
    transform: scale(0);
    opacity: 1;
}
.animated.scale-up.show {
    animation: scale-up 1s ease-out forwards;
}

@keyframes scale-up {
    0% {transform: scale(0);}
    25% {transform: scale(1.1);}
    50% {transform: scale(0.9);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
