.product-card {
    background: #fff;
    text-align: center;
    padding: 35px 45px;
    height: 100%;

    h3.title {
        font-size: 21px;
        font-weight: 600;
        margin-top: 25px;
        transition: all 0.3s;
    }
    h3.title a:hover {color: $akcent;}

    .descr {
        color: #848484;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.product-original-price {
    color: #848484;
    font-size: 21px;
    font-weight: 600;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -10px;
        right: -10px;
        height: 1.5px;
        background: #848484;
    }
}

.product-sale-price,
.product-price {
    font-size: 24px;
    font-weight: bold;
}

.added_to_cart {
    margin-top: 10px;
    font-size: 13px;
    display: inline-block;
    &:hover {text-decoration: underline;}
}

@media (max-width: 1300px) {
    .product-card {
        padding: 25px 30px;
        .button {
            min-width: inherit;
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .product-card {
        padding: 35px 22px;
    }
}

@media (max-width: 700px) {
    .product-card {
        padding: 45px 35px 30px 35px;
    }

    .product-card h3.title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
    }

    .product-card .descr {
        color: #848484;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}