.single-product {
    .wrap {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 550px 1fr;
        gap: 50px;
    }

    .summary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100% !important;
        margin-bottom: 0 !important;
        position: relative;
    }
    .summary .woocommerce-tabs {display: none !important;}

    .variations .label {
        font-size: 16px;
        color: #848484;
        text-align: left;
    }
    .variations .label label {font-weight: normal !important;}
    .variations .label span {font-weight: normal !important;}
    .variations tbody tr {display: block;}
    .variations .reset_variations {font-size: 12px !important;}

    .variable-items-wrapper {
        display: flex;
        gap: 10px;
    }
    .variable-items-wrapper li {
        margin: 0 !important;
        padding: 0 !important;
        width: 40px !important;
        height: 30px !important;
        box-shadow: none !important;
        border: 1px solid #a1a1a1 !important;
        color: #848484 !important;
        font-size: 16px !important;
        border-radius: 0 !important;
    }
    .variable-items-wrapper li.selected {
        background: #1A2539 !important;
        border: transparent !important;
        color: #fff !important;
        font-weight: bold !important;
    }
    .product-type-variable .woocommerce-tabs {display: none;}

    .product_title {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 13px;
        order: -2;
    }

    .meta-description {margin-top: 30px;}

    .choise-color {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 35px;
    }
    .choise-color a {
        font-weight: 600;
        font-size: 16px;
        color: #848484;
        text-decoration: underline;
        &:hover {text-decoration: none;}
    }
    .choise-color img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right bottom;
    }
    .choise-color .view-color {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .product_meta {
        order: -1;
        margin-top: 20px;
    }
    .sku_wrapper {
        font-size: 18px;
        color: #848484;
        font-weight: 300;
    }
    .posted_in {display: none;}

    .woocommerce-product-details__short-description {display: none;}

    .variations_form {margin-top: 20px;}
    .variable-items-wrapper .variable-item:not(.radio-variable-item) {
        width: 70px !important;
        height: 50px !important;
        border-radius: 5px !important;
    }

    .group {
        margin-top: auto;
        margin-left: auto;
    }
    .product-type-variable .group {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .product-type-variable .group > .price {display: none !important;}
    .summary .variations_form {margin-top: 10px;}
    .woocommerce-variation-add-to-cart {
        max-width: 300px !important;
        margin-left: auto;
    }

    .woocommerce-variation-add-to-cart {
        padding-top: 65px;
    }

    .number-input {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        gap: 50px;

        .inner {
            position: relative;
            width: 60px;
            height: 50px;
        }
        & > p {
            font-size: 16px;
            color: #848484;
        }

        input {
            background: #F0F0F0;
            width: 60px !important;
            height: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            outline: none;
        }

        input[type=number]::-webkit-outer-spin-button, 
        input[type=number]::-webkit-inner-spin-button {
            display: none;
        }

        .quantity {margin: 0 !important;}

        .minus,
        .plus {
            position: absolute;
            left: 100%;
            width: 32px;
            height: 25px;
            background: #FAFAFA;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s;
            user-select: none;

            svg {
                fill: none;
                stroke: var(--color);
                transition: all 0.3s;
                transform-origin: center;
                opacity: 0.5;
            }

            &:hover svg {opacity: 1;}
        }
        .minus {
            bottom: 0;
        }
        .plus {
            top: 0;
            svg {transform: rotate(-180deg);}
        }
    }

    .price del,
    .price ins,
    .price .amount {text-decoration: none;}
    .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-left: 15px;
        margin-top: auto;

        del {
            .amount {
                color: #848484;
                font-size: 30px;
                font-weight: 600;
                opacity: 1 !important;
                text-decoration: none;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -5px;
                    right: -5px;
                    height: 2px;
                    background: #848484;
                }
            }

            .woocommerce-Price-currencySymbol {margin-left: 5px !important;}
        }

        ins {
            .amount {
               margin-left: 45px;
                color: var(--color);
                font-size: 40px;
                font-weight: bold !important;
                text-decoration: none;

                .woocommerce-Price-currencySymbol {
                    margin-left: 45px;
                } 
            }
        }

        .amount {
            margin-left: 45px;
            color: var(--color);
            font-size: 40px;
            font-weight: bold !important;
            text-decoration: none;

            .woocommerce-Price-currencySymbol {
                margin-left: 45px;
            }
        }
    }
    .single_variation_wrap .price {
        justify-content: flex-end;
    }

    .cart {
        margin-bottom: 0 !important;
        .button {width: 100%;}
    }

    .home-gallery {background: none;}

    @media (max-width: 1500px) {
        .wrap {
            grid-template-columns: 500px 1fr;
            gap: 40px;
        }

        form.cart .button {
            float: right !important;
            max-width: 275px;
        }

        .price ins .amount {
            margin-left: 35px;
            font-size: 35px;
        }

        .price ins .amount .woocommerce-Price-currencySymbol {
            margin-left: 35px;
        }
    }

    @media (max-width: 1300px) {
        .wrap {
            margin-top: 40px;
            grid-template-columns: 550px 1fr;
            gap: 35px;
        }

        .sku_wrapper {font-size: 16px;}

        .group {width: 100%;}

        .price {
            align-items: flex-end;
            justify-content: flex-end;
            margin-bottom: 35px;
            padding-left: 0;
            flex-direction: column;
        }
        .price del {
            .amount {font-size: 24px;}
        }
        .price ins {
            margin-top: 10px;
            font-size: 30px;
        }
        .price ins {
            .amount {
                margin-top: 10px;
                font-size: 30px;
            }
            .woocommerce-Price-currencySymbol {margin-left: 5px !important;}
        }
        .price .amount .woocommerce-Price-currencySymbol {margin-left: 5px;}

        .number-input {bottom: 85px;}

        .woocommerce-variation-add-to-cart {
            max-width: inherit !important;
        }

        form.cart .button {
            max-width: inherit;
        }
    }

    @media (max-width: 1100px) {
        .wrap {
            grid-template-columns: 400px 1fr;
        }
    }

    @media (max-width: 991px) {
        .home-gallery {
            margin-top: 120px;
            padding: 150px 40px;
            background: var(--gray);
            position: relative;
            margin-left: -40px;
            margin-right: -40px;
        }

        .number-input {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
    }

    @media (max-width: 767px) {
        .wrap {
            grid-template-columns: 350px 1fr;
        }
    }

    @media (max-width: 700px) {
        .head .group {
            display: none;
        }

        .wrap {
            grid-template-columns: 1fr;
            margin-top: 10px;
            gap: 30px;
        }

        .product_title {margin-bottom: 5px;}

        .price {margin-bottom: 40px;}
        .price del .amount {font-size: 15px;}
        .price ins {margin-top: 0;}
        .price ins .amount {font-size: 25px;}
        .price .amount {font-size: 25px;}

        .home-gallery {
            margin-top: 100px;
            padding: 60px 40px;
        }

        .number-input {
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }
        .number-input > p {font-size: 11px;}

        .group {padding-top: 50px;} 


        /* .summary .entry-title,
        .summary .product_meta {display: none;} */
    }
}

/* -------- BREADCURMBS -------- */
.woocommerce-breadcrumb {display: none;}

/* -------- ONSALE -------- */
.onsale {
    background: #039300 !important;
    height: 33px;
    min-height: inherit !important;
    padding: 0 20px !important;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: normal !important;
    border-radius: 0 !important;
    line-height: 1 !important;
    display: flex;
    align-items: center;
}

.woocommerce span.onsale {
    top: 20px;
    left: 25px;  

    @media (max-width: 1300px) {
        height: 30px;
        font-size: 16px !important;
        padding: 0 18px !important;
    }

    @media (max-width: 700px) {
        top: 15px;
        left: 15px;
    }
}

/* -------- GALLERY -------- */
.woocommerce-product-gallery {
    width: 100% !important;
    background: var(--gray);
    margin-bottom: 0 !important;

    .woocommerce-product-gallery__trigger {display: none;}

    .woocommerce-product-gallery__image {
        min-height: 384px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        img {
            max-height: 350px;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    .flex-control-thumbs {
        padding: 20px 53px 35px 53px !important;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .flex-control-thumbs li {width: 100% !important;}
    .flex-control-thumbs li img {
        transition: all 0.3s;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 1300px) {
        .woocommerce-product-gallery__image {
            min-height: 350px;
        }

        .flex-control-thumbs {
            padding: 20px 35px 40px 35px !important;
            gap: 10px;
        }
    }

    @media (max-width: 700px) {
        .woocommerce-product-gallery__image {
            min-height: 250px;
        }
        .flex-control-thumbs {
            padding: 20px 30px 30px 30px !important;
        }
    }
}

/* -------- TABS -------- */
.woocommerce-tabs {
    grid-column: 1/3;
}

.product-tab {
    margin-top: 120px;
    position: relative;

    .splide.is-initialized:not(.is-active) .splide__list {
        display: flex;
    }
    .controls {
        border-bottom: 1px solid #848484;
    }
    .controls li {
        flex: 1;
        padding: 30px;
        color: #848484;
        font-family: var(--font);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        &:hover,
        &.active {color: var(--color);}
    }
    .controls li:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: var(--color);
        transition: all 0.3s;
    }
    .controls li.active:after {width: 100%;}

    .contents {
        font-size: 18px;
        color: var(--color);
        & > div {
            display: none;
            padding-top: 40px;
        }
        & > div.show {display: block;}
    }

    .contents .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-height: 500px;
        overflow-y: auto;
        h4 {margin-top: 10px;}
    }
    .contents .list::scrollbar {width: 5px;}
    .contents .list::scrollbar-track {width: 5px;}
    .contents .list::scrollbar-thumb {
        width: 5px;
        background: #000;
    }
    .contents .list::-webkit-scrollbar {width: 5px;}
    .contents .list::-webkit-scrollbar-track {width: 5px;}
    .contents .list::-webkit-scrollbar-thumb {
        width: 5px;
        background: #000;
    }

    .contents .grid {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
        margin-top: 40px;
        gap: 40px;
    }
    .contents .grid .box {
        background: var(--gray);
        padding: 65px 25px;
    }
    .contents .grid .box ul {
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        gap: 30px;
    }
    .contents .grid > div:first-child {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .contents .grid .box:nth-child(1) {
        font-family: var(--font);
    }

    .contents .grid h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .contents .grid .box:nth-child(2) {
        padding: 35px 45px;
    }
    .contents .grid .box:nth-child(2) h4 {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
    }

    .contents .grid .col {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: flex-start;

        li {
            display: flex;
            align-items: flex-start;
        }
        li img {
            margin-right: 15px;
            display: inline-block;
        }
        li + li {margin-top: 20px;}
    }

    @media (max-width: 1500px) {
        margin-top: 80px;

        .controls li {
            padding: 20px;
            font-size: 16px;
        }

        .contents {font-size: 15px;}
        .contents > div {padding-top: 35px;}
        .contents .grid {
            margin-top: 35px;
            gap: 30px;
        }
        .contents .grid .box {padding: 45px 25px;}
        .contents .grid .box ul {
            gap: 25px;
        }
        .contents .grid .box:nth-child(2) {
            padding: 30px 35px;
        }
        .contents .grid .col li + li {
            margin-top: 15px;
        }
    }

    @media (max-width: 1300px) {
        margin-top: 70px;

        .controls li {
            padding: 15px 0;
            font-size: 18px;
        }

        .contents {font-size: 16px;}
        .contents > div {padding-top: 40px;}
        .contents .grid {
            grid-template-columns: 0.7fr 1fr;
            margin-top: 40px;
            gap: 40px;
        }
        .contents .grid > div:first-child {
            grid-column: 1/4;
            grid-row: 1/1;
        }
        .contents .grid .box {padding: 35px 30px;}
        .contents .grid h3 {margin-bottom: 30px;}
        .contents .grid .box:nth-child(2) {padding: 28px 35px;}
        .contents .grid .col li + li {
            margin-top: 20px;
        }
    }

    @media (max-width: 700px) {
        .splide__pagination {display: none;}

        .controls li {
            padding: 15px 15px;
            font-size: 16px;
        }
        .controls li:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: #848484;
        }

        .contents {font-size: 16px;}
        .contents > div {padding-top: 30px;}
        .contents .grid {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .contents .grid .box {
            padding: 35px 25px;
            margin-left: -20px;
            margin-right: -20px;
        }
        .contents .grid .box ul {
            gap: 20px;
        }
        .contents .grid .col {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px 0;
        }
        .contents .grid .box:nth-child(1) {
            font-family: var(--font);
        }
        .contents .grid .box:nth-child(2) {
            order: 1;
        }
        .contents .grid .box:nth-child(2) {
            padding: 25px 25px;
        }

        .contents .list {gap: 10px;}
        .contents .list li {flex: none;}
    }
}

/* -------- PRODUCT INFO -------- */
.product-info {
    position: relative;
    background: var(--gray);

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        min-width: 10000px;
        background: var(--gray);
        transform: translateX(-50%);
        z-index: -1;
    }

    .content {
        padding: 115px 0;
    }
    .content h4 {
        font-weight: 600;
        margin-bottom: 20px;
    }
    .content ul li {
        position: relative;
        padding-left: 15px;
        &:after {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--color);
            position: absolute;
            top: 11px;
            left: 0;
        }
    }

    .image {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @media (max-width: 1500px) {
        .content {padding: 75px 0;}
        .content .grid-cols-2 {margin-top: 30px;}
    }

    @media (max-width: 1300px) {
        grid-template-columns: 1fr 0.8fr;
    }

    @media (max-width: 991px) {
        margin-top: 120px;
        grid-template-columns: 1fr;
        h3.title br {display: none;}

        .content .grid-cols-2 {
            margin-top: 60px;
        }

        .image {
            margin-left: -40px;
            margin-right: -40px;
        }
    }

    @media (max-width: 700px) {
        margin-top: 100px;

        .content {
            padding: 50px 0;
        }
        .content .grid-cols-2 {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .image {min-height: 380px;}
    }
}

/* -------- PRODUCT SLIDER -------- */
.product-slider {
    .subtitle {margin-top: 10px;}

    .slide {
        display: grid;
        grid-template-columns: 1fr 340px;
    }
    .slide .image {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .slide .descr {
        padding: 50px 47px;
        background: var(--gray-black);
        color: #fff;

        h3 {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .slide .number {
        font-size: 48px;
        font-weight: bold;
        margin-top: 25px;
        margin-left: 10px;

        span:nth-child(2) {
            color: var(--gray-black);
        }
    } 

    .splide__arrow {
        top: inherit;
        bottom: 25px;
        right: 0;
        left: inherit;
    }

    .splide__pagination {display: none;}

    @media (max-width: 1500px) {
        padding: 100px 0;
        .slide .descr {
            padding: 40px 35px;
        }

        .slide .number {
            font-size: 35px;
            margin-top: 10px;
            margin-left: 5px;
        }

        .splide__arrow {bottom: 15px;}
    }

    @media (max-width: 991px) {
        padding: 120px 0;

        .splide {margin-top: 30px;}
        .slide {
            grid-template-columns: 1fr 235px;
        }
        .slide .descr {
            padding: 40px 18px;
        }
        .slide .descr h3 {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .slide .descr p {font-size: 16px;}
        .slide .number {
            font-size: 38px;
            margin-top: 15px;
            margin-left: 0;
        }
    }

    @media (max-width: 700px) {
        padding: 100px 0;

        .splide {
            margin-left: -20px;
            margin-right: -20px;
        }
        .splide .image {
            min-height: 300px;
            max-height: 300px;
            img {
                display: block;
                object-fit: cover;
                object-position: center;
            }
        }

        .slide {
            grid-template-columns: 1fr;
        }
        .slide .descr {
            padding: 25px 25px 60px 25px;
        }
        .slide .descr h3 {font-size: 18px;}
        .slide .number {
            font-size: 30px;
            margin-top: 10px;
            margin-left: 20px;
        }
        .splide__arrow {
            right: 20px;
            bottom: 5px;
        }
    }
}









